:root {
  font-family: sans-serif;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
  scroll-behavior: smooth;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

button:not(:disabled) {
  cursor: pointer;
}

* {
  margin: 0;
}

img,
svg {
  display: block;
  max-width: 100%;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

*:focus-visible {
  outline: 3px solid #000; /* Customize the color as needed */
  border-radius: 3px;
  outline-offset: 3px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.container {
  padding: 0 15px;
  width: 100%;
}

.app-root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-main {
  flex-grow: 1;
}

.product-tile {
  position: relative;
  border: 1px solid #d4d4d4;
  margin-bottom: 15px;
}

.product-tile-img-wrap {
  height: 180px;
  position: relative;
}

.product-tile-img {
  max-height: 100%;
  max-width: 100%;
  margin: 0 auto;
}

.product-tile-link {
  display: block;
  padding: 15px 15px 75px;
  text-decoration: none;
  color: unset;
}

.product-tile-link * {
  text-decoration: none;
}

.product-tile-link {
  display: block;
  padding: 15px 15px 75px;
  text-decoration: none;
  color: unset;
}

.product-tile-link:hover .product-title {
  text-decoration: underline;
}

.product-tile-rating {
  display: flex;
}

.product-tile-rating svg {
  width: 18px;
  height: 18px;
}

.product-tile-cta {
  padding: 10px 25px;
  border: none;
  background-color: #000;
  color: #fff;
  position: absolute;
  bottom: 15px;
  left: 15px;
}

.product-details-img-wrap {
  height: 180px;
  position: relative;
}

.product-details-img {
  max-height: 100%;
  max-width: 100%;
}

.product-details-title {
  font-size: 18px;
  font-weight: bold;
}

@media (min-width: 640px) {
  .container {
    padding: 0 30px;
    width: 100%;
  }

  .product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
  }

  .product-tile {
    margin-bottom: 0;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1240px) {
  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}
